force-apps/deploy/main/default/flows/ARC101_Employees_ExtServ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT020</name>
        <label>ACT020 Get employee by Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ARC101EmployeesExtService.GetEmployeeByID</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>SCR030</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>employeeId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>EXT_Employee</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EXT_ResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EXT_Error</assignToReference>
            <name>404Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EXT_DefaultException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT040</name>
        <label>ACT040 Get all employees</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>ARC101EmployeesExtService.GetAllEmployees</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>LOOP050</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <outputParameters>
            <assignToReference>EXT_Employees</assignToReference>
            <name>200</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EXT_ResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EXT_DefaultException</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ARC101 Employees (ExtServ) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ARC101 Employees (ExtServ)</label>
    <loops>
        <name>LOOP050</name>
        <label>LOOP050 For each employee</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>EXT_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SCR060</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SCR010</name>
        <label>SCR010 Prompt AccountId</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ACT020</targetReference>
        </connector>
        <fields>
            <name>AccountId</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>AccountId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR030</name>
        <label>SCR030 Show employee</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ACT040</targetReference>
        </connector>
        <fields>
            <name>EmployeeData</name>
            <fieldText>&lt;p&gt;ID: {!EXT_Employee.id}&lt;/p&gt;&lt;p&gt;FN: {!EXT_Employee.firstName}&lt;/p&gt;&lt;p&gt;LN: {!EXT_Employee.lastName}&lt;/p&gt;&lt;p&gt;T: {!EXT_Employee.title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR060</name>
        <label>SCR060 Show each employee</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LOOP050</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_EmployeeData</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;LOOP&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;ID: {!LOOP050.id}&lt;/p&gt;&lt;p&gt;FN: {!LOOP050.firstName}&lt;/p&gt;&lt;p&gt;LN: {!LOOP050.lastName}&lt;/p&gt;&lt;p&gt;T: {!LOOP050.title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR010</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EXT_DefaultException</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EXT_Employee</name>
        <apexClass>ExternalService__ARC101EmployeesExtService_Employee</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EXT_Employees</name>
        <apexClass>ExternalService__ARC101EmployeesExtService_Employee</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EXT_Error</name>
        <apexClass>ExternalService__ARC101EmployeesExtService_Error</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EXT_ResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
