force-apps/deploy/main/default/flows/Show_Quotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>X020_Get_Quote</name>
        <label>020 Get Quote (External Service)</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>Quotes.getQuoteById</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ShowQuote</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ErrorMsg</assignToReference>
            <name>404Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ErrorMsg</assignToReference>
            <name>500Exc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Quote</assignToReference>
            <name>defaultExc</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ResponseCode</assignToReference>
            <name>responseCode</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Show Quotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Quotes (External Service)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>AskForId</name>
        <label>Ask For Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>X020_Get_Quote</targetReference>
        </connector>
        <fields>
            <name>QuoteId</name>
            <dataType>Number</dataType>
            <fieldText>Quote Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowQuote</name>
        <label>Show Quote</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowQuoteAndAuthor</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;#&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 16px;&quot;&gt;{!Quote.id}. &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Quote.quote}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!Quote.author}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowData</name>
            <fieldText>&lt;p&gt;HTTP Code: {!ResponseCode}&lt;/p&gt;&lt;p&gt;Error: {!ErrorMsg}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ResponseCode</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>300.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AskForId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quote</name>
        <apexClass>ExternalService__Quotes_Quote</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
